<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.keiichi.project_mobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launchmail"
        android:label="@string/appName"
        android:roundIcon="@mipmap/ic_launchmail_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:theme="@style/LaunchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mail.ListMailsActvity"
            android:label="Postvak IN"
            android:parentActivityName=".MainActivity" />

        <!-- Intent filter to capture System Browser calling back to our app after Sign In -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Add in your scheme/host from registered redirect URI -->
                <!-- By default, the scheme should be similar to 'msal[appId]' -->
                <data
                    android:host="auth"
                    android:scheme="msald3b60662-7768-4a50-b96f-eb1dfcc7ec8d" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Mail.DisplayMailActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Mail.SendMailActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Calendar.CalendarActivity"
            android:label="My Calendar" />
        <activity
            android:name=".Calendar.ListEventsActivity"
            android:label="My Events"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Contacts.ContactsActivity"
            android:label="My Contacts"
            android:theme="@style/ContactsTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Contacts.AddContactActivity"
            android:label="Add Contact"
            android:theme="@style/ContactsTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Calendar.AddEventActivity"
            android:label="New event"
            android:theme="@style/ContactsTheme"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name=".Contacts.ContactsDetailsActivity"
            android:label="Contact Details"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Contacts.EditContactActivity"
            android:label="Edit Contact"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:label="Settings"
            ></activity>
    </application>

</manifest>